.cuadro {
    height: 50px;
    width: 50px;
    
}
.cuadro-negro{
    background: rgb(59, 59, 59);
    color: rgba(240, 248, 255, 0.876);
}
.cuadro-blanco {
    background: rgb(214, 214, 196);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.peonB {
    background-image: url(./peon.svg);
    
}
.peonN {
    background-image: url(./peon-negro.svg);
}
.torreB{
    background-image: url(./torreB.svg);

}
.torreN {
    background-image: url(./torreN.svg);
}
.caballoB {
    background-image: url(./caballoB.svg);

}
.caballoN {
    background-image: url(./caballoN.svg);

}
.arfilN {
    background-image: url(./arfilN.svg);

}
.arfilB {
    background-image: url(./arfilB.svg);

}